/*/

    font-family: 'Inconsolata', monospace;

    font-family: 'Arima Madurai', cursive;

    font-family: 'Source Code Pro', monospace;

/*/



body {

  font-family: 'Source Code Pro', monospace;
  width: 100vw;
  /*perspective: 1px;
  perspective-origin: 0 0;*/
  /*overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;*/

}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Inconsolata', monospace;
  color: rgb(91, 155, 250);
}



#header-background::before {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  right: 0;
  bottom: 0;
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: rgb(91, 155, 250);
  background-size: contain;
  opacity: 0.4;
  box-shadow: 1px 1px 5px 3px;
}

#header-background {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: url('/assets/img/sai-kiran-anagani-500.png') fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  overflow: visible;
}


#myname h1 {
  color: rgb(255,255,255);
}

#myname h3 {
  color: rgb(255,255,255);
  line-height: 1;
}

#myname hr {
  width: 100%;
  box-shadow: 1px 2px 2px 1px;
}

#myname span {
  display: inline-block;
  flex: 1 1 auto;
  font-size: 1.618rem;
  line-height: 1;
  color: rgb(255,255,255);
  margin: 0;
  padding: 0.2em;
}

div#intro {

  color: rgb(255,255,255);

  background-color: rgba(255,255,255,0.1);

}


section.x2 {
  display: inline-block;
  position: relative;
  color: rgb(91, 155, 250);
  padding: 1em;
  line-height: 1.75;
  overflow: visible;

}

section.x2 p{
display: block;
  width: 100%;

}


section.x2 #mypicture {
  display: inline;
  content: " ";
  margin-top: -7em;
  width: 250px;
  height: 250px;
  background: linear-gradient(-45deg, rgba(91, 155, 250, 0.9) 1%, rgba(91, 155, 250, 0.3)), url('/assets/img/Kayvonbw.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  border-radius: 50%;
  box-shadow: 2px 3px 5px 5px grey;

}

a.truncate-text:link, a.truncate-text:active, a.truncate-text:hover {
  text-decoration: none;
}

#icons img{
  max-width: 10rem;
}


section#portfolio .card {
min-width: 350px;
max-width: 350px;
}

section#portfolio .card-body {
  word-break: break-all;
  overflow-wrap: break-word;
  overflow-x: hidden;
}
section#portfolio .card-title {
  word-break: break-word;
  overflow-wrap: break-all;

}

.card-text {
  display: none;
}




section#skills div {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  padding-bottom: 2em;
}

section#resume  div{
  background-color: rgb(91, 155, 250);
  color: rgb(255,255,255);

}

section#resume h2 {
  color: rgb(255,255,255);
}

section#resume h3 {

  color: rgb(0,0,0);
}

#resume img {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  text-align: center;
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  padding: 1em;
}


@media screen and (max-width: 414px) {

body {
  font-size-adjust: 0.50;
}

#iframeModal {
  width: 100%;f
}


#header-background::before {
  min-height: 150vh;
}

#header-background {
  min-height: 150vh;
}

#myname {
  margin-left: 0;

}



}
