@font-face {
  font-family: 'Bebas';
  src: url('Bebas.ttf');
  format("ttf");
};

body {
  height: 150vh;
  overflow-x: hidden;
}

p {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
   padding-left: 15%;
}

h1 {
  display: inline;
  font-family: 'Bebas', sans-serif;
  font-size: 136px;
  text-transform: uppercase;
  color: rgb(176,180,190);
}

h2,h3,h4 {
  display: inline;
  position: relative;
  left: -30px;
  bottom: 30px;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 font-size: 32px;

}

header h1 {
  display: block;
}

#ribbon-2 h2 {
  left: 0;
  bottom: 0;
}

nav:first-of-type {
  z-index: 9999;
}

nav .nav-link {
  font-family: 'Lato', sans-serif !important;
  font-size: 12px;
}


header {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

header h1:first-of-type {
  font-family: 'Bebas', sans-serif;
  line-height: 0.9;
  color: rgb(77,77,77);

}

header h1 + h1 {
  font-family: 'Bebas', sans-serif;
  line-height: 0.9;
  color: rgb(65,79,107);
  letter-spacing: 0.05em;
}


header .container-fluid {
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
  perspective-origin: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

header #mtn-lay1 {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  transform: translate3d(0,0,-800px);
  transform: scale(1.7);
  height: 100vh;
  width: 100%;
  background-image: url('sky-layer1.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

header #mtn-lay2 {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: fixed;
 transform: translate3d(400px,350px,-700px);
 overflow: hidden;

}

header #mtn-lay3 {
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
position: absolute;
 width: 100vw;
 height: 100vh;
 transform: translate3d(0,0,-100px);
 transform: scale(1.3);
 background-image: url('Layer-3.png');
 background-repeat: no-repeat;
 background-position: left 100px;
 background-size: cover;
 padding: 0;
 margin: 0;
 overflow: visible;

}

main nav {
  background-color: white;
}

nav h1 {
  display: block;
  font-family: 'Bebas', sans-serif;
  font-size: 1em !important;
  line-height: 0.9;
  margin-left: 0.1em;
}

.navbar-brand  #letter-logo{
  display: inline-block;
}

.navbar-brand img {
  position: relative;
  bottom: 15px;
  margin: 1em;

}

footer {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgb(65,79,107);
}

footer #letter-logo-2{
  display: inline-block;
  position: relative;
  top: 10px;
  margin-left: 0.3em;

}

footer img {
  display: inline;
  position: relative;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

footer h1 {

  display: block;
  font-family: 'Bebas', sans-serif;
  font-size: 1em !important;
  line-height: 0.9;

}

footer h2 {
  display: inline;
  left: initial;
  bottom: initial;
  right: initial;
  top: initial;
  font-size: 1em;
  color: rgb(176,180,190);
}

section#sec-one {
  padding: 0;
  margin: 0;
  position: relative;
   url('peak.jpg');
  background: linear-gradient(-300deg, rgba(176,180,190,0.9), rgba(176,180,190,0.8) 50%, rgba(255,255,255,0)), url('peak.jpg');
  background-size: cover;
  min-height: 100vh;
}

section#sec-two {
  padding: 0;
  margin: 0;
  position: relative;
}

section #ribbon {
  position: relative;
  height: 250px;
  top: 20vh;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: rgba(102,102,153,0.7);
}

section #carousel-mtn {
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;

}

#carousel-mtn img {
  height: 250px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;


}

#ribbon-2 {
  background-color: rgba(65,79,107,1);
}

#ribbon-2 h2{
  display: inline;
  margin: 5px;
  color: rgba(102,102,153,1);
}

.sec-header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.schedule {
  position: relative;
  background-color: rgba(255,255,255,0.7);
  max-width: 400px;
  left: 15%;
  top: 15%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

.schedule h2 {
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
}

.schedule table {
  display: table;
  width: 100%;
}

#sec-two #schedule-mountain1-collapse {
    height: 700px;
    background: linear-gradient(-220deg, rgba(176,180,190,1), rgba(176,180,190,0.8) 50%, rgba(255,255,255,0)), url('second-sec-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

#sec-two #schedule-mountain2-collapse {
    height: 700px;
    background: linear-gradient(-220deg, rgba(176,180,190,0.8),rgba(176,180,190,0.8) 50%, rgba(255,255,255,0)), url('background-photo-tab2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

@media (max-width: 376px) {

  .schedule {
    left: 0;
    top: 0;
  }

}
